*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  html{
    scroll-behavior: smooth;
  
  }
  
  .nu-01{
    background-color: #e6e7e9;
    display: flex;
    justify-content: space-between; 
    padding:0 50px;
    align-items: center;
  }
  .container{
    width: 90px;
    height:90px;

}
  nav ul li{
    display: inline-flex;
    list-style-type: none;
    padding: 5px 15px;
    font-size: 20px;
    
  }
  nav ul li a{
    text-decoration: none;
    color: #000;
  }
 
  nav ul li a:hover{
    color: rgb(114, 114, 18);
  }
  #banner{
    height: 600px;
    background: url("imagens/rj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  h2{ 
    margin: 30px;
    text-align: center;
  }
  .quadrado{
    display: flex;
  justify-content: center;
  }
  
  .quadrado div {
      display: inline-block;
      text-align: center;
      width: 350px;
      min-height: 500px;
      vertical-align: top;
      padding: 50px 0;
      margin: 0 2%;
      padding: 30px 20px;
      box-sizing: border-box;
      border: solid   #000 2px;
      border-radius: 10px;
      align-items: center;
      justify-content: space-around;
  
  }
  .quadrado div:hover{
    transform: scale(1.1);
  }
  h3{
    margin-bottom: 30px;
  }
  .quadrado-01{
    background-color: white;
    
    
  }
  .quadrados{
    color: black;
  }
  .quadrado div img{
    object-fit: cover;
    width: 100%;
    height: 175px;
  }
  .video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  #social{
    display: flex;
    justify-content: center;
    gap: 90px;
    background-color: #e6e7e9;
    padding: 15px 0;
    margin-top: 30px;
  }
  #social div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #social div ul li{
    list-style: none;
    text-align: center;
  }
